.App {
  text-align: center;
}

input {
  width: 50%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: steelblue;
  font-size: 20px;
  padding: 10px;
  margin: 30px;
}

p {
  font-size: 24px;
}

.AddItems {
  margin: 0 auto;
  background-color: powderblue;
  width: 35%;
  padding: 20px;
  box-sizing: border-box;
  border-style: hidden;
  border-radius: 15px;
}

.ViewItems {
  margin: 0 auto;
  background-color: powderblue;
  width: 35%;
  padding: 20px;
  box-sizing: border-box;
  border-style: hidden;
  border-radius: 15px;
}
